# set a CRAN mirror
local({r <- getOption("repos")
       r["R4Pi"] <- "https://pkgs.r4pi.org/{{ ansible_distribution_release }}"
       r["CRAN"] <- "https://cran.rstudio.com/"
       options(repos=r)})
options(Ncpus = 4)
options(bitmapType='cairo')
options(HTTPUserAgent = sprintf("R/%s R (%s)", getRversion(), paste(getRversion(), R.version["platform"], R.version["arch"], R.version["os"], "ansible_managed")))
